<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="Layout.css">
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <title> "Ô_Trump_Mag" </title>
</head>

<body>
<div class="navbar-minimalist">
    <img src="http://s1.ibtimes.com/sites/www.ibtimes.com/files/candidate/headshot_1000x1000-7.jpg">
  </div>

<div class="container">
<div class="row">
<div class="col-xs-12 col-sm-6 col-md-3">
     <div class="card" style="background-image: url(https://voyages.michelin.fr/sites/default/files/styles/poi_slideshow/public/images/travel_guide/voyage_media-NX-17806/terrasses-de-la-cathedrale-de-milan.jpg?itok=DjosbnIX)">
           Italie
     </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://cdn.pariscityvision.com/media/catalog/product/cache/13/image/755x433/9df78eab33525d08d6e5fb8d27136e95/p/i/pid-01-eiffel-tower-twilight_1.jpg)">
        France
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://back-cwl.orchestra-platform.com/admin/TS/fckUserFiles/Content_Image/entete/losangeles_adobestock.jpg)">
        Etats-Unis
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://media.routard.com/image/39/5/tokyo.1484395.142.jpg)">
        Japon
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
     <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.aodWV5OoofWVTF4J8wbKmwHaE8&w=292&h=189&c=7&o=5&pid=1.7)">
           Ireland
     </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.jMiN5lp4iEi2COU1BqNL1QHaEK&w=269&h=160&c=7&o=5&pid=1.7)">
        Kenya
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.BpqJ3sT904iwFjGH9h7oSwHaEj&w=300&h=184&c=7&o=5&pid=1.7)">
        Espagne
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.izHE68MurtIhijbpQihwlgHaE8&w=272&h=179&c=7&o=5&pid=1.7)">
        Thaïlande
  </div>
</div>

<div class="col-xs-12 col-sm-6 col-md-3">
     <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.i4IQrwsrmQxvslgLTRfxsAHaFO&w=297&h=203&c=7&o=5&pid=1.7)">
           Suède
     </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.C9bmcm9L-pTDX_u4-m7uVgHaE8&w=271&h=179&c=7&o=5&pid=1.7)">
        Maroc
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.2obrjsfsupatbW1pGv2qWgHaE5&w=280&h=183&c=7&o=5&pid=1.7)">
        Grèce
  </div>
</div>
<div class="col-xs-12 col-sm-6 col-md-3">
  <div class="card" style="background-image: url(https://www.bing.com/th?id=OIP.dCGTj0e7A124fMfOP1C_jwHaEo&w=285&h=178&c=7&o=5&pid=1.7)">
        Mongolie
  </div>

</div>

</div>

</div>
</body>

</html>
<iframe id="map" class="card"src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d10506.88256396133!2d2.3756147999999997!3d48.8253914!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1541601113931" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
